.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    .team-title{
        text-align: center;
        font-family: "EB Garamond", serif;
    }
    .team-quote{
        width: 80vw;
        text-align: center;
        font-family: "Teko", sans-serif;
    }
    .team-profile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-around;
        text-align: center;
        align-items: center;
    }
}