.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Teko", sans-serif;
    .service-card-icon{
    width: 100px;
    height: 100px;
    text-align: center;
    // margin-bottom: 30px;
    }
    .service-card-title{
       
    }
    .service-card-subtitles{
        width: 250px;
        opacity: 0.6;
        margin-bottom: 10px;
        font-size: 1.2vw;
    }
    .service-readme{
        color: darkorange;
    }
}