.service{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
    .service-title{
        text-align: center;
        margin-bottom: 50px;
        font-family: "EB Garamond", serif;
    }
    .service-cards{
        display: flex;
        flex-wrap: wrap;
         justify-content: center;
        text-align: center;
    }
}
