.main-body{
    background: url('../../assets/main-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 50em;
    width: 100%;
    overflow: hidden;
    position: relative;
    // top: -30em ;
    margin-right: 8px;
}