.about {
  display: flex;
  flex-direction: column;
  .about-title {
    
    font-family: "EB Garamond", serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
  }
  .about-objects {
    display: flex;
    flex-wrap: wrap;

    .objects-image {
      background: url("../../assets/softlamp-image.jpg");
    //   max-width: 400px;
      min-width: 250px;
      margin: 23px;
      min-height: 150px;
    //   max-height: 250px;
    //   padding: 60px;
      background-size: cover;
      background-position: center;
    }
    .objects-writing {
        padding: 23px;
        width: 500px;
        font-family: "Teko", sans-serif;
        
      .objects-title {
          font-size: 1.3;
      }
      .objects-para {
          font-size: 1.1em;
      }
    }
  }
}
