.buttonn{
    // width: 8vw;
    padding: 0vw 2vw;
    height: 7vh;
    border-radius: 26px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(158, 156, 156, 0);
    outline: none;
    margin: 2px 8px ;
    font-family: "Teko", sans-serif;
    font-size: 0.9rem;
    min-width: 4vw;
    &:hover{
        background: chocolate;
        color: white;
        
    }
}
.image{
    display: grid;
    .sub{
        text-align: center;
        font-family: "EB Garamond", serif;
        font-size: 1.3rem;
    }
}
.portfolio{
    padding: 0px 4vw;
    // display: grid;
    // justify-content: center;
    // align-items: center;
    .portfolio-title{
        font-family: "EB Garamond", serif;
        text-align: center;
    }
    .portfolio-buttons{
        display: flex;
        justify-content: center;
    }
    .portfolio-images{
        display: grid;
        grid-template-columns: repeat(auto-fill,25em);
        grid-gap: 10px;
        justify-content: center;
        transition: all 0.5s ease;
        margin: 2vw 0vw;
        .portfolio-image{
            overflow: hidden;
            width: 25em;
            // height: auto;
            // margin: 2vw 2vw;
            border-radius: 10px ;
            transition: all 0.5s ease;
            // transform: translateX(20px);
            cursor: pointer;
            &:hover{
                box-shadow: rgb(114, 113, 112) 0px 5px 15px, inset rgb(156, 153, 153) 0px -10px 20px;
                transition: all 0.5s ease;

            }
        }
    }
}
.buttonActive{
    background: chocolate;
    color: white;
}
/* Blur-zoom Container */
.img-hover-zoom--blur{
    transition: transform 1s, filter 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    filter: blur(0.2px);
    transform: scale(1);
    width: 250px;
    // overflow: hidden;
  }
  
  /* The Transformation */
  .img-hover-zoom--blur:hover{
    filter: blur(0);
    transform: scale(1.5);
    z-index: 1;
  }


  @media screen and (max-width: 550px)
  {
    .img-hover-zoom--blur{
        transition: transform 1s, filter 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        transform: scale(1);
        // width: 250px;
        // overflow: hidden;
      }
      
      /* The Transformation */
      .img-hover-zoom--blur:hover{
        transform: scale(1);
        z-index: 1;
      }
    

  }